* {
  box-sizing: border-box;
}
body {
  font-family: "Noto Sans TC";
  font-style: normal;
}
a {
  text-decoration: none;
}
.container {
  display: grid;
  grid-template-columns: 1fr 1200px 1fr;
  grid-template-rows: auto 104px;
  grid-template-areas:
    ". content ."
    "footer footer footer";
}
.content {
  grid-area: content;
  margin: 40px 0;
  /* z-index: 0; */
}
.section {
  display: flex;
  margin: 20px;
}
.account-list {
  background-color: #448899;
  width: 200px;
  margin: 0 40px 0 10px;
}
.my {
  display: flex;
  justify-content: center;
}
.my div {
  font-size: 20px;
  font-weight: 700;
  padding: 5px;
  color: #ffffff;
}
.list {
  height: 300px;
  margin: 5px;
  background-color: #ffffff;
}
.member-system {
  font-weight: 700;
  color: #448899;
}
.member-history {
  font-weight: 400;
  color: #666666;
}
.list div {
  cursor: pointer;
  padding: 5px;
  font-size: 16px;
}
.list div:hover {
  font-weight: 700;
  color: #448899;
  background-color: #e8e8e8;
  border-radius: 5px;
}
.basic-list {
  width: 100%;
  border: 2px solid #666666;
  border-radius: 5px;
}
.basic {
  margin: 0 0 20px 0;
  display: flex;
  border-bottom: 1px solid #e8e8e8;
}
.basic div {
  cursor: pointer;
  margin: 0 10px;
  padding: 5px 5px;
  font-size: 20px;
}
.basic div:hover {
  font-weight: 700;
  color: #448899;
  background-color: #e8e8e8;
  border-radius: 5px;
}
.change-name-title {
  font-weight: 700;
  color: #448899;
}
.change-password-title {
  font-weight: 400;
  color: #666666;
}
.change-name,
.change-password {
  margin: 0 20px;
}
.change-button,
.change-password-button {
  margin-left: 200px;
  margin-top: 20px;
  cursor: pointer;
  padding: 10px;
  background: #448899;
  border-radius: 5px;
  /* border-style: none; */
  border: 1.5px solid #448899;
  font-weight: 400;
  font-size: 17px;
  line-height: 16px;
  text-align: center;
  color: #ffffff;
}
.change-button:hover,
.change-password-button:hover {
  border: 1.5px solid #07afd8;
  /* background: #7ad9f0;
  color: #6666664c;
  font-weight: 700; */
  box-shadow: 0px 4px 20px #e8e8e8;
}
.field {
  margin-bottom: 15px;
  font-weight: 500;
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 13px;
  color: #666666;
}
.field input {
  background: #ffffff;
  border: 1px solid #e8e8e8;
  border-radius: 5px;
  padding: 10px;
  width: 200px;
  height: 38px;
  background-position: right;
  background-origin: content-box;
  background-repeat: no-repeat;
  background-size: 25px;
  color: #666666;
  font-size: 16px;
  line-height: 13px;
}
.field input:focus {
  outline-color: #448899;
}
.change-message,
.change-message2 {
  color: #fa5252;
  font-weight: 400;
  font-size: 13px;
  margin: 10px;
}
hr {
  margin: 0 10px 10px 10px;
  border: 1px solid #e8e8e8;
}
