<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/attraction.css" />
    <title>景點介紹</title>
  </head>
  <body>
    <div class="header">
      <div class="navigation">
        <div class="taipei">台北一日遊</div>
        <div class="Frame2">
          <div class="Frame1 order">預定行程</div>
          <div class="Frame1 sign">登入/註冊</div>
        </div>
      </div>
    </div>
    <div class="space"></div>
    <div class="container">
      <div class="content">
        <div class="section">
          <div class="img"><img src="/cat.jpg" /></div>
          <div class="profile">
            <div class="profile-text1">平安鐘</div>
            <div class="profile-text2">藝文館所 at 忠孝復興</div>
            <div class="booking-form">
              <div class="text1">訂購導覽行程</div>
              <div class="text2">
                以此景點為中心的一日行程，帶您探索城市角落故事
              </div>
              <div class="fieldDate">
                <div class="fieldDate-text">選擇日期：</div>
                <input class="input" type="date" />
              </div>
              <div class="fieldTime">
                <div class="fieldDate-text">選擇時間：</div>
                <div class="radio-btn">
                  <div class="ellipse"><img src="/Ellipse 2.png" /></div>
                  <div class="ellipse-text">上半天</div>
                </div>
                <div class="radio-btn">
                  <div class="ellipse"></div>
                  <div class="ellipse-text">下半天</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="footer"><div>COPYRIGHT © 2021 台北一日遊</div></div> -->
    </div>
  </body>
</html>
