{% extends "index.html" %} {% block head %}
<link rel="stylesheet" type="text/css" href="/css/booking.css" />
<title>我的預定行程</title>
{% endblock %} {% block content %}
<div class="container">
  <div class="content">
    <div class="user-name">您好，待預訂的行程如下：</div>
    <div class="detail">
      <!-- <div class="section">
        <img class="image" src="/image/cat.jpg" />
        <div class="info">
          <div class="name">台北一日遊：</div>
          <div class="frame">日期：</div>
          <div class="frame">時間：</div>
          <div class="frame">費用：</div>
          <div class="frame">地點：</div>
        </div>
      </div> -->
    </div>
    <div class="information">
      <div class="contact-form">
        <div class="contact-info">您的聯絡資訊</div>
        <div class="field">
          <div>聯絡姓名：</div>
          <input
            type="text"
            name="name"
            class="field-input input-name"
            oninput="check(this)"
          />
        </div>
        <div class="field">
          <div>連絡信箱：</div>
          <input
            type="email"
            name="email"
            class="field-input input-email"
            oninput="check(this)"
          />
        </div>
        <div class="field">
          <div>手機號碼：</div>
          <input
            type="tel"
            name="tel"
            class="field-input input-phone"
            oninput="check(this)"
          />
        </div>
        <div class="field-notice">
          請保持手機暢通，準時到達，導覽人員將用手機與您聯繫，務必留下正確的聯絡方式。
        </div>
      </div>
      <hr />
      <div class="payment">
        <div class="payment-title">信用卡付款資訊</div>
        <div class="field">
          卡片號碼：
          <div class="tpfield" id="card-number"></div>
        </div>
        <div class="field">
          過期時間：
          <div class="tpfield" id="card-expiration-date"></div>
        </div>
        <div class="field">
          驗證密碼：
          <div class="tpfield" id="card-ccv"></div>
        </div>
      </div>
      <hr />
      <div class="confirm-field total-price"></div>
      <div class="confirm-field">
        <button class="confirm-btn">確認訂購並付款</button>
      </div>
    </div>
  </div>

  {% endblock %} {% block js %}
</div>
<script src="https://js.tappaysdk.com/sdk/tpdirect/v5.14.0"></script>
<script src="/javascript/booking.js"></script>
{% endblock %}
