<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/css/sign.css" />
    {% block head %}
    <link rel="stylesheet" type="text/css" href="/css/index.css" />
    <title>台北一日遊</title>
    {% endblock %}
  </head>
  <body>
    <div class="opacity"></div>
    <div class="header">
      <div class="navigation">
        <a href="/">
          <div class="taipei">台北一日遊</div>
        </a>
        <div class="Frame2">
          <div class="Frame1 order">預定行程</div>
          <div class="Frame1 sign hidden">登入/註冊</div>
          <div class="Frame1 signout none">登出系統</div>
        </div>
      </div>
    </div>
    <div class="signin">
      <div class="bar"></div>
      <div class="account">
        登入會員帳號<img class="close" src="/image/icon_close.png" />
      </div>
      <div>
        <input
          type="email"
          name="email"
          class="signInput"
          id="signInEmail"
          placeholder="輸入電子信箱"
          oninput="check(this, 'email')"
        />
        <input
          type="password"
          name="password"
          class="signInput"
          id="signInPassword"
          placeholder="輸入密碼"
          oninput="check(this, 'password')"
        />
        <div class="password-rule"></div>
        <button class="signButton signInButton" type="submit">登入帳戶</button>
      </div>
      <div class="wrong"></div>
      <div class="goToSignUpOrIn goToSignUp">還沒有帳戶？點此註冊</div>
    </div>
    <div class="signup">
      <div class="bar"></div>
      <div class="account">
        註冊會員帳號<img class="close" src="/image/icon_close.png" />
      </div>
      <div>
        <input
          type="text"
          name="name"
          class="signInput"
          id="signUpName"
          placeholder="輸入姓名"
          oninput="check(this, 'name')"
        />
        <input
          type="email"
          name="email"
          class="signInput"
          id="signUpEmail"
          placeholder="輸入電子郵件"
          oninput="check(this, 'email')"
        />
        <input
          type="password"
          name="password"
          class="signInput"
          id="signUpPassword"
          placeholder="輸入密碼"
          oninput="check(this, 'password')"
        />
        <div class="password-rule"></div>
        <button class="signButton signupButton">註冊新帳戶</button>
      </div>
      <div class="wrong2 success"></div>
      <div class="goToSignUpOrIn goToSignIn">已經有帳戶了？點此登入</div>
    </div>
    <div class="space"></div>
    {% block content %}
    <div class="welcome">
      <div class="slogan">
        <div class="slogan-1">輕鬆享受台北一日悠閒</div>
        <div class="slogan-2">探索每個角落，體驗城市的深度旅遊行程</div>
        <div class="input">
          <input class="input1" type="text" placeholder="輸入景點名稱查詢" />
          <div class="btn"></div>
          <div class="category">
            <!-- <div onclick="value()">養生溫泉</div> -->
          </div>
        </div>
      </div>
    </div>
    <div class="fail">
      <div></div>
    </div>
    <div class="container">
      <div class="content">
        <!-- <a href="" class="image">
          <img />
          <div class="attractionName">新北投溫泉區</div>
          <div class="title">
            <div class="mrt">新北投</div>
            <div class="cat">養生溫泉</div>
          </div>
        </a> -->
      </div>
      {% endblock %}
      <div class="footer">
        <div>COPYRIGHT © 2022 台北一日遊</div>
      </div>
      {% block js %}
    </div>
    <script src="/javascript/index.js"></script>
    {% endblock %}
    <script src="/javascript/sign.js"></script>
  </body>
</html>
