{% extends "index.html" %} {% block head %}
<link rel="stylesheet" type="text/css" href="/css/member.css" />
<!-- <link rel="stylesheet" type="text/css" href="/css/booking.css" /> -->
<title>訂購完成 - 台北一日遊</title>
{% endblock %} {% block content %}
<div class="container">
  <div class="content">
    <div class="section">
      <div class="account-list">
        <div class="my"><div>My taipeiTrip</div></div>
        <div class="list">
          <div>歷史訂單</div>
          <div>帳號設定</div>
        </div>
      </div>
      <div class="basic-list">
        <div class="basic">
          <div class="div1">基本資料</div>
          <div class="div2">修改密碼</div>
        </div>
        <div class="change-name">
          <div class="field">
            <div>　帳號　：</div>
          </div>
          <div class="field">
            <div>　姓名　：</div>
            <input
              type="text"
              name="name"
              class="field-input input-name"
              oninput="check(this)"
            />
          </div>
          <button class="change-button"><div>修改</div></button>
        </div>
        <div class="change-password none">
          <div class="field">
            <div>　請輸入原密碼　：</div>
            <input
              type="password"
              name="password"
              class="signInput"
              id="signInPassword"
              placeholder="輸入密碼"
              oninput="check(this)"
            />
          </div>
          <div class="field">
            <div>　請輸入新密碼　：</div>
            <input
              type="password"
              name="password"
              class="signInput"
              id="signInPassword2"
              placeholder="輸入密碼"
              oninput="check(this)"
            />
          </div>
          <button class="change-button"><div>修改</div></button>
        </div>
      </div>
    </div>
  </div>
  {% endblock %} {% block js %}
</div>
<!-- <script src="/javascript/thankyou.js"></script> -->
{% endblock %}
